<div class="card mb-3">
    <div class="card-header">
        <h3 class="card-title">{{ 'bitbag_sylius_blacklist_plugin.ui.fraud_suspicions'|trans }}</h3>
    </div>
    <div class="card-body">
        <table class="ui very basic celled table">
            <tbody>
            <tr>
                <td><strong class="gray text">{{ 'sylius.ui.company'|trans }}</strong></td>
                <td>{{ fraudSuspicion.company }}</td>
            </tr>
            <tr>
                <td><strong class="gray text">{{ 'sylius.ui.first_name'|trans }}</strong></td>
                <td>{{ fraudSuspicion.firstName }}</td>
            </tr>
            <tr>
                <td><strong class="gray text">{{ 'sylius.ui.last_name'|trans }}</strong></td>
                <td>{{ fraudSuspicion.lastName }}</td>
            </tr>
            <tr>
                <td><strong class="gray text">{{ 'sylius.ui.phone_number'|trans }}</strong></td>
                <td>{{ fraudSuspicion.phoneNumber }}</td>
            </tr>
            <tr>
                <td><strong class="gray text">{{ 'sylius.ui.email'|trans }}</strong></td>
                <td>{{ fraudSuspicion.email }}</td>
            </tr>
            <tr>
                <td><strong class="gray text">{{ 'sylius.ui.street'|trans }}</strong></td>
                <td>{{ fraudSuspicion.street }}</td>
            </tr>
            <tr>
                <td><strong class="gray text">{{ 'sylius.ui.city'|trans }}</strong></td>
                <td>{{ fraudSuspicion.city }}</td>
            </tr>
            <tr>
                <td><strong class="gray text">{{ 'sylius.ui.postcode'|trans }}</strong></td>
                <td>{{ fraudSuspicion.postcode }}</td>
            </tr>
            <tr>
                <td><strong class="gray text">{{ 'sylius.ui.province'|trans }}</strong></td>
                <td>{{ fraudSuspicion.province }}</td>
            </tr>
            <tr>
                <td><strong class="gray text">{{ 'sylius.ui.country'|trans }}</strong></td>
                <td>{{ fraudSuspicion.country }}</td>
            </tr>
            <tr>
                <td>
                    <strong class="gray text">
                        {{ 'bitbag_sylius_blacklist_plugin.form.blacklisting_rule.customer_ip'|trans }}
                    </strong>
                </td>
                <td>{{ fraudSuspicion.customerIp }}</td>
            </tr>
            <tr>
                <td>
                    <strong class="gray text">
                        {{ 'bitbag_sylius_blacklist_plugin.ui.address_type'|trans }}
                    </strong>
                </td>
                <td>{{ fraudSuspicion.addressType }}</td>
            </tr>
            <tr>
                <td>
                    <strong class="gray text">
                        {{ 'bitbag_sylius_blacklist_plugin.form.fraud_suspicion.comment'|trans }}
                    </strong>
                </td>
                <td>{{ fraudSuspicion.comment }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
