<div class="ui two column stackable grid">
    <div class="column">
        {{ form_errors(form) }}
        <div class="ui segment">
            <h4 class="ui dividing header">{{ 'sylius.ui.general'|trans }}</h4>

            <div class="ui divider hidden"></div>

            <div class="one field">
                {{ form_row(form.name) }}
            </div>
            <div class="one field">
                {{ form_row(form.channels) }}
            </div>
            <div class="one field">
                {{ form_row(form.enabled) }}
            </div>
        </div>
    </div>
    <div class="column">
        <div class="ui segment">
            <h4 class="ui dividing header">{{ 'bitbag_sylius_blacklist_plugin.ui.fraud_suspicions'|trans }}</h4>

            <div class="ui divider hidden"></div>

            <div class="one field">
                {{ form_row(form.addFraudSuspicion) }}
            </div>
            <div class="ui divider hidden"></div>
            <div class="two fields">
                {{ form_row(form.permittedFraudSuspicionsNumber) }}
                {{ form_row(form.permittedFraudSuspicionTime) }}
            </div>
        </div>
    </div>
</div>
<div class="ui segment">
    <h4 class="ui dividing header">{{ 'bitbag_sylius_blacklist_plugin.ui.settings'|trans }}</h4>

    <div class="ui divider hidden"></div>

    <div class="ui one column stackable grid">
        <div class="ui icon info message">
            <i class="info circle icon"></i>
            <div class="content">
                {{ 'bitbag_sylius_blacklist_plugin.ui.rules_are_connected_by_or'|trans }}!
            </div>
        </div>
        <div class="column" id="rules">
            {{ form_row(form.rules) }}
        </div>
    </div>
</div>
