<div class="ui stackable two column grid">
    <div class="ten wide column">
        {% include '@SyliusAdmin/Order/Show/_header.html.twig' %}
    </div>

    <div class="six wide right aligned column">
        <div class="ui buttons">
            <a class="ui button negative" href="{{ path('bitbag_sylius_blacklist_plugin_admin_order_mark_suspicious', {'orderId': order.id}) }}">
                {{ 'bitbag_sylius_blacklist_plugin.ui.mark_suspicious'|trans }}
            </a>
            <a href="{{ path('sylius_admin_order_history', {'id': order.id}) }}" class="ui labeled icon button">
                <i class="icon history"></i>
                History
            </a>

            <form action="{{ path('sylius_admin_order_cancel', {'id': order.id}) }}" method="post" style="float: right;">
                <input type="hidden" name="_method" value="PUT">
                <button class="ui yellow labeled icon  button" type="submit" data-requires-confirmation="">
                    <i class="icon ban"></i>
                    Cancel
                </button>
            </form>
        </div>
    </div>
    {% set menu = knp_menu_get('sylius.admin.order.show', [], {'order': order}) %}
    {{ knp_menu_render(menu, {'template': '@SyliusUi/Menu/top.html.twig'}) }}

</div>
